Flask
Flask-Cors
gunicorn
h5py
Keras
Keras-Preprocessing
numpy
pandas
Pillow
scikit-learn
scipy
setuptools==48.0.0
tensorboard==1.14.0
tensorboard-plugin-wit
tensorflow
tensorflow-estimator==1.14.0rc0